@import "~bootstrap/scss/bootstrap";

h5,
.h5 {
  font-size: 1.4rem;
}

.close {
  color: inherit;
  outline: 0px !important;
}

.close:hover {
  color: inherit;
  outline: 0px !important;
}

.color:focus {
  color: inherit;
  outline: 0px !important;
}

.card {
  border-radius: 1rem;
}

.instant-time {
  transition-duration: 0s;
}

[data-font-node] {
  content-visibility: auto;
  contain-intrinsic-size: 1px calc(6.5rem + 1.5em);
}
