@import "~bootstrap-scss/bootstrap";

$primary: #f7931e;
$secondary: #29abe2;

h5,
.h5 {
  font-size: 1.4rem;
}

.close {
  color: inherit;
  outline: 0px !important;
}

.close:hover {
  color: inherit;
  outline: 0px !important;
}

.color:focus {
  color: inherit;
  outline: 0px !important;
}

.card {
  border-radius: 1rem;
}

.instant-time {
  transition-duration: 0s;
}

.font-node {
  content-visibility: auto;
  contain-intrinsic-size: 1px calc(6.5rem + 1.5em);
}

.background {
  background-color: $primary;
}

.fill-window {
  height: 100vh;
  width: 100vw;
}

.link-white {
  color: white;
  text-decoration: underline;
}
