@import "~bootstrap-scss/bootstrap";

$primary: #f7931e;
$secondary: #29abe2;

h5,
.h5 {
  font-size: 1.4rem;
}

.close {
  color: inherit;
  outline: 0px !important;
}

.close:hover {
  color: inherit;
  outline: 0px !important;
}

.color:focus {
  color: inherit;
  outline: 0px !important;
}

.instant-time {
  transition-duration: 0s;
}

.font-node {
  content-visibility: auto;
  contain-intrinsic-size: 1px calc(6.5rem + 1.5em);
  user-select: none;

  .card {
    border-radius: 1rem;
    cursor: pointer;
  }
}

.background {
  background-color: $primary;
}

.about-window {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 150px;
  }

  .link-white {
    color: white;
    text-decoration: underline;
  }
}
