name: Create Release

on:
  workflow_dispatch:

jobs:
  create-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Node
        id: node-setup
        uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          registry-url: https://npm.pkg.github.com/

      - name: Cache node_modules
        id: node_modules_cache
        uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ steps.node-setup.outputs.node-version }}-node_modules-${{ hashFiles('**/package-lock.json') }}

      - run: npm ci

      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
