# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Release Executable

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Node
        id: node-setup
        uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          registry-url: https://npm.pkg.github.com/

      - name: Cache node_modules
        id: node_modules_cache
        uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ steps.node-setup.outputs.node-version }}-node_modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install node_modules
        if: steps.node_modules_cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Electron Builder
        run: npm run dist
        env:
          BETA_RELEASE: ${{ github.event.release.prerelease }}

      - name: Upload Release Assets
        uses: AButler/upload-release-assets@v3.0
        with:
          files: "publish/*"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
